.task-calendar {
    margin-top: 100px;
    min-width: 300px;
}




.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .color-empty {
  stroke: none;
}

.react-calendar-heatmap .color-filled {
  fill: #d6e685;
  stroke: none;
}

.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }

.react-calendar-heatmap rect:hover {
}

.calendar-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  /* Adjust positioning as needed */
}