
.hidden-datepicker-input {
    position: absolute;
    transform: translate(-204px, 15px); /* Fine-tune horizontal and vertical position */
    opacity: 0; /* Make input fully transparent */
    height: 0; 
    pointer-events: none; /* Prevent interaction */
}