
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Manrope', sans-serif; /* Apply Manrope font */
    background-color: #1C1C1C;

}