
.task {
    border-radius: 25px;
    padding: 10px;
    z-index: 1;
    background-color: #3AA7FA;
    color: #f0f0f0;
}

.task.completed {
    background-color: #8CC63F;
}

.task.completed .task-text {
    text-decoration: line-through;
    color: #333333; /* Makes the text grey when completed */
}

/* Task styling */
.task-text {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-right: 10px;
}