.input-container {
    position: fixed;

    bottom: 0;
    left:0;
    padding: 10px;
    width: 100%;
    fill: none;
    background-color: #f8f9fa; /* Adjust as desired */
    border-top: 1px solid #ccc; /* Optional for a border above the input */
    justify-content: center;
}

.input-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.hidden-datepicker-input{
    position: absolute;
    transform: translate(-204px, 15px); /* Fine-tune horizontal and vertical position */
    opacity: 0; /* Make input fully transparent */
    height: 0; 
    pointer-events: none; /* Prevent interaction */
}